{% extends 'base.html' %}
{% load static %}
{% block title %} 
    About CGC  
{% endblock %}
{% block content %}
<div class="image-container">
    <h1 class="about"><i>ABOUT US</i></h1>
    <img class="background-image" src="{% static 'img/about.png' %}" alt="about-image">
</div>
<div>
    <section class="sample-text-area">
        <div class="container">
            <p> Kozhikode, also known as Calicut, is a city in the state of Kerala, India. It is located on the Malabar coast and is known for its rich history and cultural heritage.
                The city was once the capital of the Zamorin kings and later a key location during British colonial rule. Today, it is a bustling urban area with a blend of historical charm and modern development.
            <br><br>
                Calicut Garbage Collection is a Waste Management Technology startup dedicated to addressing the pressing waste issues faced by society and the environment as a whole.
                Our vision is clear : to become the ultimate destination for the disposal of all types of waste, making it easier for everyone to contribute to a cleaner, greener future. 
                Our aim is to make a sustainable eco-friendly future, reduce environmental impact, and enhance resource efficiency.
            <br><br>
                With a satisfied customer base exceeding thousand,Calicut Garbage Collection stands as a prominent player in Kerala's waste management sector.
                A sustainable eco-friendly future with zero waste is the main mission of CGC..
                Calicut Garbage Collection's vision is to be a global leader in the transformation of waste management, leading the charge toward a world where waste is no longer a problem but a solution
            </p>
        </div>
    </section>
</div>
{% endblock %}
