{% extends 'base.html' %}
{% load static %}
{% block title %} 
    Forgot Password
{% endblock %}
{% block content %}
<style>
    .toggle-panel.toggle-right {
        background-image: url("{% static 'img/forgot.avif' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<div class="log-sec1">
   <div class="container log-sec2" id="container" >
        <div class="form-container sign-in">
            <form action="{% url 'garbageapp:forgot_password' %}" method="post">
                {% csrf_token %}
                <h1 style="font-family: 'Times New Roman', Times, serif;font-weight: bold;margin-top: -10px;">Forgot Password</h1>
                <input type="email" name="email" placeholder="Enter your email" style="margin-top: 30px;">
                <button type="submit" style="margin-top: 25px;background-color: rgb(21, 3, 110);">Submit</button>
            </form>
        {% if messages %}
            <div class="message-box">
                {% for message in messages %}
                    <div class="message {{ message.tags }}" style="margin-top: 50px;margin-left: 20px;">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        </div>
        <div class="toggle-container" style="border: 2px solid black;">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 


