{% extends 'base.html' %}
{% load static %}
{% block title %} 
    Book Your Slot Now
{% endblock %}
{% block content %}
<section style="background-color: rgb(242, 225, 246);">
    <div class="container py-">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-5">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="{% static 'img/booking-slot.jpg' %}" alt="Bokking-Photo" width="100%" height="878px" >
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase book-sec1" >Book Your Slot Now</h3>
                  <form id="contactusform" class="contact-form" action="" method="post" role="form" enctype="multipart/form-data" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <input type="text" id="form3Example1m" name='first_name' class="form-control form-control-lg" placeholder="First Name" style="font-size: 18px;">
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <input type="text" id="form3Example1n" name='last_name' class="form-control form-control-lg" placeholder="Last Name" style="font-size: 18px;">
                        </div>
                      </div>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" name="email" placeholder="Email" id="form3Example8" class="form-control form-control-lg" style="font-size: 18px;">
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <textarea rows="4" placeholder="Address" name="address" id="form3Example8" class="form-control form-control-lg" style="font-size: 18px;" ></textarea>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" name="place" placeholder="Place in Calicut" id="form3Example8" class="form-control form-control-lg" style="font-size: 18px;">
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <select data-mdb-select-init class="form-control form-control-lg" name="waste_type" style="font-size: 18px;">
                          <option value="">Type of waste</option>
                          <option value="Bio-degradable">Bio-degradable</option>
                          <option value="Non-biodegradable">Non-biodegradable</option>
                          <option value="Hazardous">Hazardous</option>
                      </select>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="number" name="weight" placeholder="Weight of scrap in KG" id="form3Example8" class="form-control form-control-lg" style="font-size: 18px;">
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" placeholder="Select a date" onfocus="(this.type='date')" class="form-control form-control-lg" name="date" style="font-size: 18px;">
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" placeholder="Select convenient time" onfocus="(this.type='time')" class="form-control form-control-lg" name="time" style="font-size: 18px;">
                    </div>
                    <div class="d-flex justify-content-end pt-3">
                      <input type="reset" name="submit-form" value="Reset" class="cnt-frm-btn" style="background-color: orange;">
                      <input type="submit" name="submit-form" value="Select Plant" class="cnt-frm-btn" style="background-color: orange;">
                    </div>
                  </form>
                  
                </div>
                {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="message {{ message.tags }}" style="margin-top: -889px;margin-left: -50px;font-size: 22px;">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


